@import "tailwindcss";

:root {
  background-color: #FFD1DC;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

@theme {
  --color-valentine-pink: #FFD1DC;
  --color-valentine-cream: #FFFDD0;
  --color-valentine-red: #FF007F;
  
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(5deg); }
    100% { transform: translateY(0px) rotate(0deg); }
  }
}